:root {
  --drk-green: #3a5743;
  --brown: #8b5d33;
  --lt-brown: #f2cc8f;
}

body {
  font-family: "Libre Baskerville", serif;
}

p.jumbo-text {
  font-size: 36px;
}
.title {
  display: inline-block;
  justify-content: center;
}

.navbar-brand {
  font-size: 25px;
}

.background-jumbo {
  background-color: white;
}

.jumbo-text {
  text-align: center;
  font-size: 20px;
}

.jumbotron {
  background-color: transparent;
}
.card {
  background-color: transparent;
  border: none;
}
.container.fixed-bottom {
    width: 100%;
    left:40%;
    right:40%;
}

#main {
  background-image: url("../images/field.jpg");
  height: 100vh;
}

