:root {
  --drk-green: #3a5743;
  --brown: #8b5d33;
  --lt-brown: #f2cc8f;
}
/* arcgis map */
#viewDiv1,
#viewDiv2 {
  padding: 0;
  margin: 0;
  height: 45vh;
  width: 45vw;
}

body,
html {
  height: 100%;
  font-family: "Cormorant", serif;
}

#forecastWrapper {
  border: 1px solid black;
  box-shadow: 1px -3px 0px -3px black, -1px 0px 2px 1px black;
  border-radius: 5px;
}

.dayData {
  border: 1px solid black;
  box-shadow: 1px -3px 0px -3px black, -1px 0px 2px 1px black;
  border-radius: 5px;
}

.bg {
  background-image: url("../images/Georgia\ map\ copy.png");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-color: rgba(234, 234, 234, 0.65);
  color: black;
}

.col-sm-10 {
  background-color: transparent;
  margin-left: 8.5%;
  margin-right: 8.5%;
}

.navbar-brand {
  font-size: 25px;
}

.jumbo-text {
  text-align: center;
  font-size: 5rem;
}

.jumbotron {
  background-color: transparent;
  padding: 5rem 2rem 0rem 2rem;
}

.card {
  background-color: transparent;
  border: none;
  text-align: center;
}

.card-p {
  font-size: 1.25rem;
  font-weight: 700;
}

.form-control {
  font-size: 1.5rem;
  text-align: center;
}

.btn {
  font-size: 1.5rem;
}

.container.fixed-bottom {
  width: 100%;
  left: 40%;
  right: 40%;
}

.map {
  height: 400px;
  width: 100%;
}

#forecastWrapper,
.dayData .card-body {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
}

.dayData {
  padding: 5px;
  margin: 10px;
}
